<%= provide(:title, 'Help') %>

<h1>Help</h1>
<p>
  This is the Sample Application Help page where you can get help on the Ruby on Rails Tutorial at the <a href="http://railstutorial.org/help">Rails Tutorial Help page.</a>  
</p>